* {
  margin:0;
  padding: 0;
}

html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --cursor-x-px: calc(var(--x) * 1px);
  --cursor-y-px: calc(var(--y) * 1px);

  &:before{
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: radial-gradient(
      800px circle at var(--cursor-x-px) var(--cursor-y-px),
      rgba(255, 255, 255, 0.3),
      transparent 70%
      );
    z-index: -1;
  }
}

body {
  transition: background-color 0.3s;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

header {
  background-color: var(--background-secondary);
}

footer {
  background-color: var(--background-secondary);
}
