[data-theme="dark"] {
  --background-primary: #140834e2;
  --background-secondary: #190c3de2;
  /* --background-primary: #031d38eb;
  --background-secondary: #021a34eb; */
  --background-third:#0a080861;
  /* --background-dropdown-active: #79c865a8; */
  --background-dropdown-primary: #140834e2;
  --background-dropdown-secondary: #190c3de2;
  --background-dropdown-hover-primary:#181359e2;
  /* --background-halo-cursor-primary:#13355aeb; */
  --background-halo-cursor-primary:#181359e2;
  --background-halo-cursor-secondary:#942a78e2;
  --background-halo-logo-primary:#942a78e2;
  --shadow-logo-primary:#2a3e54eb;
  --shadow-logo-secondary:256, 28%, 18%, 0.886;
  --shadow-card-primary:#1a1721e2;
  --shadow-card-secondary:#28213be2;
  --text-primary: #ffffff;
  --card-background-primary:blue;
  --card-background-secondary:rgb(0, 0, 203);
  --card-border-primary:rgb(0, 0, 203);
  --card-shadow-primary:rgb(0, 0, 203);
  --card-shadow-secondary:rgba(0,255,182,0.5);
  --card-shadow-third:rgba(0,255,135,1);
  --tab-border-primary:#ffffff;
  --tab-background-primary:rgb(50, 50, 119);
  --tab-background-secondary:rgb(0, 0, 203);
}/*end [data-theme="dark"]*/

[data-theme="light"] {
  --background-primary: #d7d2d2;
  --background-secondary: #cfc1c1;
  --background-third:#141414;
  --background-dropdown-active: #6573c8d8;
  --background-dropdown-primary: #465acbfd;
  --background-dropdown-secondary: rgba(64, 27, 106, 0.886);
  --background-dropdown-hover-primary:#a93c83e2;
  --background-dropdown-hover-secondary:#c730bae2;
  --background-halo-cursor-primary:#c9b1b1;
  --background-halo-cursor-secondary:#942a78e2;
  --background-halo-logo-primary:#792d65e2;
  --background-halo-logo-secondary:#942a78e2;
  --shadow-logo-primary:#1a1721e2;
  --shadow-logo-secondary:#28213be2;
  --shadow-card-primary:#1a1721e2;
  --shadow-card-secondary:#28213be2;
  --text-primary: #000000;
  --card-background-primary:rgb(255, 159, 255);
  --card-border-primary:rgb(255, 164, 247);
  --card-shadow-primary:rgb(139, 72, 156);
  --card-shadow-secondary:rgba(0, 30, 255, 0.5);
  --card-shadow-third:rgb(0, 30, 255);
  --tab-border-primary:#000000;
  --tab-background-primary:rgb(139, 72, 156);
  --tab-background-secondary:rgb(97, 57, 107);
}/*end [data-theme="light"]*/

[data-theme="pink"] {
  --background-primary: #b43232;
  --background-secondary: #b43232;
  --text-primary: #000000;
}